<!DOCTYPE html>
<html>
<head>
  <title>index.mustache</title>
  <meta charset="utf8">
  <meta name="viewport" content="width=device-width">
</head>
<body>
  index.mustache

  <script type="text/javascript">
    function lintme (asdf) {
      console.log('lintme')
    }
  </script>
</body>
</html>
